
<h2 class='text-center'>Add a Flat</h2>

<%= render 'form', flat: @flat %>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
 <%= javascript_pack_tag "map" %>
