// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flex {
  display: flex
}
.margin-left-20{
  margin-left: 20px;
}
.margin-top-50{
  margin-top: 50px;
}
.inline-block{
  display: inline-block;
  margin: 20px;
}
.margin-top-negative{
  margin-top: -75px;
}
.space-between{
  justify-content: space-between;
}
.margin-auto{
  margin: auto !important
}
.margin-left-auto{
  margin-left: auto !important
}
.green{
  color: #54BB94 !important;
  a {
    color: #54BB94;
  }
}
.lightslategrey{
  color: lightslategrey;
}
.hover-opacity{
  &:hover{
    opacity: 0.7;
  }
}
.back-btn-red{
  margin: 10px 10px 10px 0px
}

// Flat Card:
.flat-card{
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none
  }
  width: 100%;
  height: 380px;
  position: relative;
  margin: .5rem 0 1rem 0;
  margin-bottom: 20px;
  background-color: #fff;
  background-position: center;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  &:hover{
    box-shadow: 20px 30px 80px 0 rgba(0, 0, 0, 0.1);
    transition: all .15s ease-in-out;
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
}
.flat-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  &:hover{
    opacity: 0.9;
  }
}
.flat-card-image-container{
  height: 160px;
}
.flat-card-content{
  padding: 15px;
  height: 150px
}
.flat-card-actions{
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
}
.flat-image-cover{
  height: 300px;
  background-position: center;
  background-size: cover;
}
.flat-show-card{
  background: #F8F9FA;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}
.flat-form{
  background-color: #F8F9FA;
  padding: 24px;
  border-radius: 3px;
}

.back-btn{
  border-radius: 6px;
  background-color: #54BB94;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
  margin: 0 0 0 auto;
  line-height: 60px;
  font-size: 14px;
  text-align: center;
}

// Navbar:
.navbar-brand{
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: auto !important
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 10px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

  #map {
    height: 500px;
    position: sticky !important;
    width: 100%;
    top: 0px;
  }
.avatar{
  border-radius: 50%;
  margin-left: 10px;
}

// Sign up

body{
  background: #F4F4f4;
}
.sign-up-container{
  padding-top: 20px;
  margin: auto;
  margin-top: 90px;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  background: #FFF;
}
@media (min-width: 1024px) {
  .sign-up-container{
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sign-up-container{
    width: 60%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .sign-up-container{
    width: 80%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .sign-up-container{
    width: 95%;
  }
}

.sign-up-text{
  text-align: center;
  margin-top: 0;
  // border-bottom: 0.3px solid rgba(0,0,0,0.8);
  padding-bottom: 15px;
  color: darkslategray;
  font-weight: lighter;
}
.form-inputs{
  color: #54BB94 !important;
  max-width: 600px;
  margin: auto;
}
.form-group{
  // margin: 15px !important;
}
.form-control{
  border-radius: 5px !important;
}
.log-in-button{
  padding: 15px 0 20px 20px;
}

.log-in-button-sign-up{
  padding-left: 60px !important;
}

.help-block{
  color: darkslategray !important;
  font-size: 14px !important;
}

.form-50-log-in{
  padding-top: 10px;
  padding-left: 80px;
}
.form-row{
  display: flex;
}
.form-row:nth-child(2){
  margin: 10px 0;
}
.form-100{
  width:100%;
}
.form-70{
  width: 70%;
  margin: 0 20px 0 0;
}
.form-60{
  width: 60%;
}
.form-50{
  width: 50%;
}
.form-40{
  width: 40%;
}
.form-30{
  width: 30%;
}
.flex-row{
  width: 100%;
  display: flex;
  flex-direction: column;
  position:relative;
}


// Colors:
.darkslategray{
  color: darkslategray
}
